API_URL=http://192.168.0.10:8000
OLLAMA_HOST=http://192.168.0.10:11434
REMOTE_WEB_URL=http://192.168.0.10:3000
REMOTE_OPEN_WEBUI_URL=http://192.168.0.10:3001
HOST_CONTROL_URL=http://192.168.0.10:8765
HOST_CONTROL_TOKEN=
AIYA_ADMIN_TOKEN=
AIYA_EXTRA_ADMIN_TOKENS=
AIYA_CLIENT_MODE=desktop
AIYA_CLIENT_USER_NAME=DesktopUser
AIYA_CLIENT_EXTERNAL_ID=900001
AIYA_CLIENT_PLATFORM=desktop
AIYA_TESSERACT_CMD=
