/.env
__pycache__/
postgres_data/
ollama_storage/
open_webui/
*.wav
*.png
build/
dist/
INSTALL_INFO.json
*.cleanup.cmd
/.git_backup_broken_*/
/Install Docker For Server.cmd
/Rebuild Aiya Docker.cmd
/Start Aiya Client.cmd
/Start Aiya Server.cmd
/Uninstall Aiya.cmd
